@{ ViewBag.Title = "Example Index"; }

<h2>Examples</h2>

<h3>GitHub</h3>

<ul>
    <li>@Html.ActionLink("Basic list example", "GitHubBasicList")</li>
    <li>@Html.ActionLink("Basic authentication", "GitHubBasicAuth")</li>
</ul>

<h3>Envato</h3>

<ul>
    <li>@Html.ActionLink("Basic list example", "EnvatoBasicList")</li>
</ul>